* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
h1 { font-size: 3.5em;}
h2 { font-size: 2.5em;}
h3 { font-size: 2em;}
p { font-size: 1.25em;}
ul {list-style: none;}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid #000 0.5;
    color: white;
    background-color: darkorange;
}

button:hover {
    cursor: pointer;
    background-color: rgb(204, 115, 6);

}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-palabra {
    color: darkorange;
}

header  {
    background-color: rgb(240, 240, 240);
}

header .logo {
    margin: 0;
    padding: 5px 30px;
    font-weight: bold;
    color: darkorange;
    font-size: 1.5em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: px;
}

header img {
  display: none;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 5px 12px ;
}

header .logo a {
    color: darkorange;
}

header .logo a:hover {
    color: black;
}

header a:hover {
    color:darkorange;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('fotos mas alla/fotofede.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}

#hero button {
    font-size: 1.75em;
}
#hero a {
    text-decoration: none;
    color: white;
}

#somos-masalla .container {
    text-align: center;
    padding: 200px 12px;
}

#somos-masalla a {
    color: white;
    text-decoration: none;
}

#nuestras-actividades .container { 
    padding: 100px 12px;
}

#nuestras-actividades h2 {
    margin-top: 0;
    font-size: 3.3em;
}

#nuestras-actividades {
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
    background-size: cover;
}

#nuestras-actividades p {
    display: none;
}

#nuestras-actividades {
    padding: 25px 0;
  
}

.carta:first-child {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('fotos mas alla/camion.jpg');
    background-size: cover;
    background-position: center center;
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('fotos mas alla/cavsi.jpg');
    background-size: cover;
    background-position: center center;
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('https://lanoticiadequilmes.com.ar/fotos/PHOTO-2020-04-06-09-50-53.jpg');
    background-size: cover;
    background-position: center center;
}

#caracteristicas .container {
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li {
    margin: 15px 0;
    font-weight: bold;
    font-size: 2em;
}


#Donaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('fotos mas alla/risas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
    color: white;
    height: 80vh;
}

#Donaciones button {
    font-size: 5vw;
}

#Donaciones h2 {
    font-size: 9vw;
}

#Donaciones a {
    color:white;
    text-decoration: none;
}

footer {
    background-color: rgb(230,230, 230);   
}

footer p {
    margin: 0;
    color: rgb(100,100, 100);
    padding: 5px;
}

footer .container {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media(min-width:720px ) {

    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content:space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    header .container .logo{
        display: flex;
        flex-direction: row;
    }

    header img {
        display: flex;
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }

    #hero h1 {
        font-size: 4.5em;
    }

    #somos-masalla .container {
        display: flex;
        justify-content: space-evenly;
    }

    #somos-masalla .texto {
        width: 50%;
        text-align: initial;
        padding-left: 30px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #somos-masalla h2 {
        margin-top: 0;
    }

    #somos-masalla .img-container {
        background-image: url('fotos mas alla/masalla.jpg');
        background-position: center center;
        background-size: cover;
        height: 500px;
        width: 400px;
    }

    #somos-masalla button {
        font-size: 1.7em;
    }

    #somos-masalla a {
        color: white;
        text-decoration: none;
    }

    #nuestras-actividades .actividades {
        display: flex;
        justify-content: center;
    }

    #nuestras-actividades p {
        display: block;
        margin-bottom: 30px;
    }

    #nuestras-actividades h3 {
        margin-top: 0;
    }

    #nuestras-actividades .carta {
        border-radius: 20px;
        margin: 15px;
        padding: 20px;
    }
    
    #caracteristicas .container {
        display: flex;
        justify-content: space-evenly;
    }

    #caracteristicas .texto2 {
        width: 50%;
        text-align: initial;
        padding-left: 30px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #caracteristicas .img-container { 
        background-image: url('fotos mas alla/maestra.jpg');
        background-position: center center;
        background-size: cover;
        height: 500px;
        width: 400px;
    }

    #caracteristicas ul {
        margin-left: 100px;
    }

    #Donaciones h2 {
        font-size: 4em;
    }

    #Donaciones button {
        font-size: 2em;
    }

    #footer .container {
        display: flex;
        align-items:flex-start;
    }
}

