* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
h1 { font-size: 3.5em;}
h2 { font-size: 2.5em;}
h3 { font-size: 2em;}
p { font-size: 1.25em;}
ul {list-style: none;}

button {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: darkorange;
}

button:hover {
    cursor: pointer;
    background-color: rgb(204, 115, 6);

}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-palabra {
    color: darkorange;
}

header  {
    background-color: rgb(240, 240, 240);
}

header .logo {
    margin: 0;
    padding: 5px 30px;
    font-weight: bold;
    color: darkorange;
    font-size: 1.5em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

header img {
  display: none;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 5px 12px ;
}

header .logo a {
    color: darkorange;
}

header .logo a:hover {
    color: black;
}

header a:hover {
    color:darkorange;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 120vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('fotos mas alla/fotofede.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}

#hero button {
    font-size: 1.75em;
    display: none;
}
#hero a {
    text-decoration: none;
    color: white;
}
.iconos img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 15px;
}
.iconos {
    display: flex;
    justify-content: space-between;
}

#somos-masalla .container {
    text-align: center;
    padding: 100px 12px;
    background-color: rgb(240, 240, 203);
}

#somos-masalla a {
    color: white;
    text-decoration: none;
}

#somos-masalla button {
    display: none;
}

#nuestras-actividades .container { 
    padding: 100px 12px;
}

#nuestras-actividades h2 {
    margin-top: 0;
    font-size: 3.3em;
}

#nuestras-actividades {
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
    background-size: cover;
}

#nuestras-actividades p {
    padding: 5px;
    display: none;
}

#nuestras-actividades {
    padding: 15px 0;
}

#nuestras-actividades button {
    margin-bottom: 10px;
}

#nuestras-actividades button a{
    color: white;
    text-decoration: none;
}
.carta:first-child {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('fotos mas alla/camion.jpg');
    background-size: cover;
    background-position: center center;
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('fotos mas alla/agus.JPG');
    background-size: cover;
    background-position: center center;
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('fotos mas alla/campanas.jpg');
    background-size: cover;
    background-position: center center;
}

.carta:nth-child(4) {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('fotos mas alla/atardecer.jpg');
    background-size: cover;
    background-position: center center;
}

.carta:nth-child(5) {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('fotos mas alla/ideas.JPG');
    background-size: cover;
    background-position: center center;
}



#Donaciones .container {
    text-align: center;
    padding: 100px 12px;
    background-color: #fff;
}

.texto2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Donaciones h2 {
    color: darkorange;
}

#Donaciones li {
    text-align: center;
    font-weight: bold;
    margin: 5px;
    margin-left: -50px;
}

#Donaciones a{
    color: darkorange;
    text-decoration: none;
    font-weight: bold;
}

#Donaciones a:hover{
    text-decoration: underline;
    color: rgb(201, 115, 10);
}

#financiacion {
    background-color: rgb(245, 245, 245);
}

#financiacion .container{
    text-align: center;
    padding: 100px 12px;
}

#financiacion .text{
    margin: 20px 10px;
    text-align: center;
    padding: 10px;
}

#financiacion li button{
    margin-top: 10px;
}

#financiacion .img-container {
    display: none;
    width: 50%;
    height: 350px;
    background-image: url('fotos mas alla/financiacion.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#financiacion h3{
    font-size: 20px;
}

#financiacion li{
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
}

#financiacion h2{
    font-size: 25px;
}

#financiacion p{
    font-size: 18px;
}


#financiacion button a{
    color: white;
    text-decoration: none;
}


#Final-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url('fotos mas alla/risas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
    color: white;
    height: 80vh;
}

#Final-section h2 {
    font-size: 9vw;
}

#Final-section a {
    color:white;
    text-decoration: none;
}

footer {
    background-color: rgb(230,230, 230);   
}

footer p {
    margin: 0;
    color: rgb(100,100, 100);
    padding: 5px;
}

footer .container {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#viajes {
    padding: 10px;
    background-color: rgb(245, 245, 210);
}

#viajes .text {
    padding: 10px;
    text-align: center;
}

#viajes .container{ 
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;
}


#viajes video {
  height: 550px;
  border-radius: 10px;
}

#viandas {
    padding: 10px;
    background-color: rgb(245, 245, 210);
}

#viandas .text {
    padding: 10px;
    text-align: center;
}

#viandas .container{ 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#viandas video {
  height: 550px;
  border-radius: 10px;
}

#asistencia {
    padding: 10px;
    background-color: rgb(245, 245, 210);
}

#asistencia .text {
    padding: 10px;
    text-align: center;
}

#asistencia .container { 
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;
}

#asistencia .img-container {
    background-image: url("fotos mas alla/idolo.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

#ideas {
    padding: 10px;
    background-color: rgb(245, 245, 210);
}

#ideas .text {
    padding: 10px;
    text-align: center;
}

#ideas .container { 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
 }
 
#ideas .img-container {
    background-image: url("fotos mas alla/ideas-2.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

#campanas {
    padding: 10px;
    background-color: rgb(245, 245, 210);
}

#campanas .text {
    padding: 10px;
    text-align: center;
}

#campanas .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

#campanas .img-container {
    background-image: url("fotos mas alla/camapanas-2.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

@media(min-width:720px ) {

    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content:space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    header .container .logo{
        display: flex;
        flex-direction: row;
    }

    header img {
        display: flex;
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }

    #hero {
        height: 100vh;
    }

    #hero h1 {
        font-size: 4.5em;
    }

    #somos-masalla .container {
        display: flex;
        justify-content: space-evenly;
        background-color: #fff;
    }

    #somos-masalla .texto {
        width: 50%;
        text-align: center;
        padding-left: 10px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #somos-masalla h2 {
        margin-top: 0;
        font-size: 50px;
    }

    #somos-masalla .img-container {
        background-image: url('fotos mas alla/masallablanco.jpg');
        background-position: center center;
        background-size: cover;
        height: 500px;
        width: 450px;
    }

    #somos-masalla button {
        font-size: 1.7em;
    }

    #somos-masalla a {
        color: white;
        text-decoration: none;
    }

    #nuestras-actividades .actividades {
        display: flex;
        justify-content: center;

    }

    #nuestras-actividades p {
        display: none;
        margin-bottom: 30px;
        padding: 0;
    }

    #nuestras-actividades h3 {
        margin-top: 0;
    }

    #nuestras-actividades .carta {
        border-radius: 20px;
        margin: 15px;
        padding: 35px;
        width: 300px;
    }
    
    #Donaciones .container {
        display: flex;
        justify-content: space-evenly;
    }

    #Donaciones h2{
        font-size: 55px;
    }

    #Donaciones .texto2 {
        width: 50%;
        text-align: initial;
        padding-left: 30px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #Donaciones .img-container { 
        background-image: url('fotos mas alla/maestra.jpg');
        background-position: center center;
        background-size: cover;
        height: 600px;
        width: 400px;
        border-radius: 10px;
    }

    #Donaciones ul {
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: space-around;
    }

    #Donaciones li{
        margin: 5px 20px;
        font-size: 20px;
    }

    #financiacion .container{
        display: flex;
        justify-content: space-evenly;
    }

    #financiacion .text{
        width: 50%;
        text-align: center;
        padding-left: 30px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #financiacion .img-container{
        display: flex;
        background-image: url('fotos mas alla/financiacion.jpg');
        background-position: center center;
        background-size: cover;
        height: 80vh;
        width: 50%;
    }
    
    #financiacion h2{
        font-size: 30px;
    }

    #financiacion p {
        font-size: 20px;
        margin: 10px;
        text-align: left;
    }

    #financiacion li {
        text-align: left;
        font-size: 18px;
    }

    #financiacion li button{
        margin-left: 0;
        margin-top: 10px;
    }
    
    #Final-section h2 {
        font-size: 4em;
    }

    #footer .container {
        display: flex;
        align-items:flex-start;
    }

    #viajes .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 65px;
    }

    #viajes video {
        height: 525px;
        margin-right: 20px;
        border-radius: 10px;
    }
    
    #viajes .text {
        width: 42%;
        text-align: left;
    }

    .presentacion {
        display: none;
    }
    
    #viandas .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 65px;
        padding: 20px 0;
    }

    #viandas .text {
        width: 50%;
        margin-left: 35px;
    }

    #viandas video {
        height: 475px;
        border-radius: 10px;
    }
    
    #viandas .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 65px;
        padding: 20px 0;
    }

    #viandas .text {
        width: 50%;
        margin-left: 35px;
    }

    #viandas .text p {
        text-align: left;
    }

    #viandas video {
        height: 475px;
        border-radius: 10px;
    }
    
    #asistencia .container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            margin-top: 65px;
            padding: 20px 0;
    }
    
    #asistencia .text {
            width: 50%;
            text-align: center;
            margin-right: 35px;
    }

    #asistencia .text p {
        text-align: left;
    }
    
    #asistencia .img-container {
            height: 475px;
            width: 450px;
            border-radius: 10px;
    }

    #ideas .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 65px;
        padding: 20px 0;
    }

    #ideas .img-container {
        height: 475px;
        width: 450px;
        border-radius: 10px;
    }        

    #ideas .text {
        width: 50%;
        text-align: center;
        margin-right: 35px;
    }
    
    #ideas .text p {
        text-align: left;
    }

    #campanas .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 65px;
        padding: 20px 0;
    }

    #campanas .img-container {
        height: 475px;
        width: 450px;
        border-radius: 10px;
    }

    #campanas .text {
        width: 50%;
        text-align: center;
        margin-right: 35px;
    }

    #campanas .text p {
        text-align: left;
    }
}




